
#calculator{
    width:500px;
    height:300px;
    border:1px solid black;
    display:flex;
    flex-flow:column wrap;
    flex: 1 1 0;
}
#screen{
    border:1px solid black;
    display:flex;
    margin:1px;
    box-sizing: border-box;
    justify-content: center;
    flex: 1 1 20%;
}
#operator{
    display: flex;
    flex-flow:row nowrap;
    border:1px solid black;
    gap:1px;
    justify-content: space-around;
    margin:1px;
    flex: 1 1 20%;
}
#operator button{
    flex:1 1 20%;
}
#numpad{
    border:1px solid black;
    display: flex;
    flex-flow:row wrap;
    flex: 1 1 50%;
}
#numpad button{
    flex:1 1 30%;
}
#screen p{
    text-align: center;
    flex:1 1 95%;
    letter-spacing: 5px;
}

#screen button{
    flex:1 1 5%;
}